<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout.html}">

<head>
    <title>Index</title>
</head>

<body>

<div layout:fragment="content">

    <div class="d-flex gap-5 align-items-center">
        <h1>Liste des Exemples</h1>
        <a th:href="@{/exemples/create}">Ajouter</a>
    </div>

    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Commentaires</th>
            <th scope="col">Number</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="e : ${exemples}">
            <th scope="row">
                <a th:href="@{/exemples/{id}(id=${e.id})}" th:text="${e.id}"></a>
            </th>
            <td th:text="${e.commentaire}"></td>
            <td th:text="${e.myNumber}"></td>
        </tr>

        </tbody>
    </table>
</div>


</body>
</html>